# phpstorm project files
.idea
.osp

# Env
.env
env.php

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
/phpunit.xml
tests/_output/*
tests/_support/_generated

#sass cache
.sass-cache
/web/.sass-cache