header {

  .nav {
    .dropdown-toggle {
      &:after {
        vertical-align: 0.1em;
      }
    }
    button {
      &.logout {
        padding-top: 7px;
      }
    }
  }

  @media (max-width: 767px) {
    .nav li > form > button.logout {
      display: block;
      text-align: left;
      width: 100%;
      padding: 10px 0;
    }
  }
}