main {

  > .main-container {
    padding: 70px 15px 80px;
  }

  .calendar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 80px auto 80px auto;
    max-width: $pageMaxWidth;
    padding-left: 15px;
    padding-right: 15px;
    a {
      color: $calendarLinkColor;
    }
  }

  .table-hover {
    tbody {
      tr {
        &:hover {
          color: $sortElementColor;
          background-color: rgb(253, 249, 229);
        }
      }
    }
  }

  .modal-ajax {
    .modal-header {
      padding-bottom: 0;
      border-bottom: none;
      position: absolute;
      float: right;
      top: 0;
      right: 0;
      z-index: 1001;
    }
    .modal-content {
      .modal-body {
        padding: 1.3rem 1.8rem 0.8rem 1.8rem;
        h1 {
          font-size: 1.3rem;
          margin-bottom: 30px;
        }
      }
    }
  }

  .grid-view {
    tbody {
      /*a {
        color: $fontColor;
      }*/
    }
    th {
      white-space: nowrap;
      a {
        color: $sortElementColor;
        /*&.asc, &.desc {
          color: $sortElementColor;
        }
        &.asc:after, &.desc:after {
          content: '';
          left: 3px;
          display: inline-block;
          width: 0;
          height: 0;
          border: solid 5px transparent;
          margin: 4px 4px 2px 4px;
          background: transparent;
        }
        &.asc:after {
          border-bottom: solid 7px $sortElementColor;
          border-top-width: 0;
        }
        &.desc:after {
          border-top: solid 7px $sortElementColor;
          border-bottom-width: 0;
        }*/
      }
    }
    .action-column {
      width: 38px;
    }
    .grid-column-datetime,
    .grid-column-visit-status {
      width: 160px;
    }
    .grid-column-sum {
      width: 140px;
    }
    .grid-column-id {
      width: 100px;
    }
    .grid-footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 2;
      padding-left: 0;
      padding-right: 30px;
      height: 60px;
      .summary {
        float: left;
        margin-top: 17px;
      }
      nav {
        float: right;
        margin-top: 10px;
        .pagination {
          margin-bottom: 0;
        }
      }
    }
  }


  .not-set {
    color: #c55;
    font-style: italic;
  }

  .breadcrumb {
    .active {
      font-weight: bold;
      &:before {
        font-weight: normal;
      }
    }
  }

  .error-summary {
    color: $errorColor;
    background: $errorSummaryBgColor;
    border-left: 3px solid $errorColor;
    padding: 10px 20px;
    margin: 0 0 15px 0;
  }

  .has-error {
    .help-block {
      color: $errorColor;
    }
    .form-control {
      border-color: $errorColor;
    }
  }

  .badge {
    color: #fff;
    &.visit-status-0 {
      background-color: $badgeBlue;
    }
    &.visit-status-5 {
      background-color: $badgeGreen;
    }
    &.visit-status-9 {
      background-color: $badgeRed;
    }
  }

  .fade-modal {
    transform: scale(0.8);
    opacity: 0;
    transition: all .2s linear;
    &.show {
      opacity: 1;
      transform: scale(1);
    }
  }

  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 600px;
      margin: 5rem auto;
    }
  }

}