$fontColor: #212529;
$footerBgColor: #f5f5f5;
$calendarLinkColor: #1E1E1E;
$badgeBlue: #007bff;
$badgeYellow: #6c757d;
$badgeGreen: #28a745;
$badgeRed: #dc3545;
$errorColor: #dc3545;
$errorSummaryBgColor: #f5f5f5;
$sortElementColor: #212529;

$bodyFontWeight: 350;
$formSecurityWidth: 320px;
$pageMaxWidth: 1620px;